<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
<!-- TODO: Use a built-in helper to display "Contains Nuts" if a food item contains nuts.-->
  {{#if has_nuts}}
<h1>
  &#129372; Has nuts! &#129372;&#129372;&#129372;&#129372;&#129372;&#129372;&#129372;
</h1>
  {{/if}}
  </div>
</div>